<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header.ejs') %>
    <h2> best</h2>

    <div class="product">
        <a href="#"><img src="https://images.seoulstore.com/products/f6dc29b476da9615a2edb36f37d13fe2.jpg?d=640xauto"></a>
        <div class="go-cart"><i class="fa-solid fa-cart-plus fa-lg"></i></div>
        <p class="rank-txt">1위</p>
        <p class="rank-underline"></p>
        <a href="#"><p class="rank-txt-brand">플레이스스튜디오</p></a>
        <a href="#"><p class="rank-subtxt">[단독판매] 오버핏 리버시블 스웨이드 크롭 양털 자켓 무스탕 점퍼 2COLOR</p></a>
        <div class="price-container">
          <p class="rank-subtxt price-sale">64% 43,000</p>
          <p class="rank-subtxt price">118,000</p>
        </div>
        <div class="label">
          <div class="new">
            <p>신상</p>
          </div>
          <div class="sale1">
            <p>세일</p>
          </div>
        </div>
        <div class="review_score">
          <div class="review_score">
            <i class="fa-solid fa-star fa-sm"></i>
            <p class="review_score_txt bold">4.9</p>
          </div>
          <div class="review_score">
            <p class="review_score_txt">(2048) •</p>
          </div>
          <div class="review_score">
            <i class="fa-solid fa-heart fa-sm"></i>
            <p class="review_score_txt">33288</p>
          </div>
    </div>

    

    %- include('footer.ejs') %
</body>
</html>